body {
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

/* style header continer with highscore button and score counter  */
.headContainer {
    display: flex;
    justify-content: space-between;
    margin:  15px auto;
    width: 100%;
}

#highScoreBtn {
    border: none;
    background: none;
    font-size: medium;
    padding: 0 0 0 30px;
    margin: 0;
    color: whitesmoke;
}

#highScoreBtn:hover {
    color: rgb(168, 94, 168);
}

#timer {
    padding-right: 50px;
}

/* style body container and elements 'quiz' */
.quizContainer {
    display: block;
    margin: 25px auto;
    text-align: center;
    box-shadow: 0 10px 12px 0 rgba(0,0,0,0.8);
    background-color: rgba(34, 34, 34, 0.555);
    border-radius: 20px;
    transition: 0.3s;
    width: 60vw;
}

.quizContainer h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.quizContainer p {
    padding-top: 20px;
    font-size: 20px;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px;
    margin: 5px;
    width: 2fr;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(78, 1, 78);
    color: white;
    font-size: larger;
}

button:hover {
    background-color: rgb(175, 120, 175);
}

/* classes to use in js "adding/remove classes"  */
.hide {
    display: none;
}

.btn-correct {
    background: green;
}

.btn-wrong {
    background: rgb(129, 0, 0);
}

/* change with of quiz wider on a smaller screen */
@media screen and (max-width: 650px) {
    .quizContainer {
        width: 90vw;
    }
}